<header class="prose mb-8">
    {{ content }}
</header>

<section class="">
    <div class="mb-4">
        <h2 class="text-2xl font-semibold text-base-content">Latest Entries</h2>
        <div class="mt-2 ms-2">
            <small class="">(1)</small>
            <span>
                You can explore the 
            </span>
            <a href="/journal" class="link link-info">
                Journal
            </a>
            <span>
                for more entries*
            </span>
        </div>
    </div>

    <div class="space-y-4 ms-2 mb-8">
        {{ collection:journal sort="date:desc" limit="3" }}
            <article class="flex border-b border-base-300 pb-2 last:border-b-0">
                <div class="flex items-center gap-4 text-sm text-base-content/60 mb-2">
                    <time datetime="{{ date format="Y-m-d" }}">
                        {{ date format="F j, Y" }}
                    </time>
                </div>

                <h3 class="link link-hover text-md font-semibold text-base-content mb-2 ms-4 transition-colors">
                    <a href="{{ url }}" class="">
                        {{ title }}
                    </a>
                </h3>
            </article>
        {{ /collection:journal }}
    </div>
</section>
<small class="">
    (1) Grabbing your interest is not guranteed
</small>
